/********************* Contacts CSS Styles ***************************/
.advisor-paragraph-style {
    font-size: 20px;
    font-family: Georgia;
    margin: 1% 1% 5% 1%;
}

.officers-paragraph-style {
    font-size: 20px;
    font-family: Georgia;
    margin: 1% 1% 5% 1%;
}

.contactfeed-article-style {
    background: linear-gradient(#80100d 80%, black);
    border: 2px solid black;
    box-shadow: 0px 0px 15px black;
    width: 70%;
    margin: 1% 1% 1% 1%;
    font-family: Georgia;
    font-weight: bold;
    color: white;
    font-size: 20px;
}