<div id="home-div" class="main-div-style">
    <article id="homefeed-article" class="main-article-style">
        <section id="home-section-header" class="section-header-style">
            WELCOME TO THE ACM BUFF PORTAL
        </section>
        <div id="home-event-feed" class="feed-style">
            EVENT FEED HERE<br>
            COMING SOON...
        </div>
        <img id = "group-logo-img" class="group-logo-style" src="./app/img/ACMGroupPhoto.jpg"/>
        <h1 id="description-heading" class="description-heading-style">ACM PLEDGE</h1>
        <p id="description-paragraph" class="description-paragraph-style">
            As an ACM member, I pledge to be an enormous jackass, and follow in the footsteps of the great
            jackasses before me. Alternatively known as Matthew whatever the fuck his last name is and Jordan
            holy fuck my last name is complicated latte.
        </p>
    </article>
    <aside id="homefeed-aside" class="common-aside-style">
        <div id="home-acm-feed" class="feed-style">
            ACM FEED HERE<br>
            COMING SOON...
        </div>
        <div id="home-twitter-feed" class="feed-style">
            TWITTER FEED HERE<br>
            COMING SOON...
        </div>
        <div id="home-facebook-feed" class="feed-style">
            FACEBOOK FEED HERE<br>
            COMING SOON...
        </div>
    </aside>
</div>
