<div id="about-div" class="main-div-style">
    <article id="about-article" class="main-article-style">
        <section>
            ABOUT WEST TEXAS A&amp;M UNIVERSITY ACM
        </section>
        <div id = "wtacm-collage-div" class="wtacm-collage-div-style">
            <img id = "group-logo-img" class="group-logo-style" src="./app/img/ACMGroupPhoto.jpg"/>
            <p>WTACM PHOTO COLLAGE HERE
            COMING SOON...</p>
        </div>
        <h1 id="description-heading" class="description-heading-style">ABOUT ACM</h1>
        <p id="description-paragraph" class="description-paragraph-style">
            Afd djief si sd j sl dssd. J sdkskdow ds dsad saw kkoe fk sjaodd as
            skdsoladd. Ls do efkk fefkoef dlfd fdfd. Jjdof kjfoe flmeff ldlf sko
            fkdsokfo efkldkd dolfoe kld feo sl fdl kdso. Afd djief si sd j sl dssd.
            J sdkskdow ds dsad saw kkoe fk sjaodd as skdsoladd. Ls do efkk fefkoef dlfd
            fdfd. Jjdof kjfoe flmeff ldlf sko fkdsokfo efkldkd dolfoe kld feo sl fdl kdso.
            J sdkskdow ds dsad saw kkoe fk sjaodd as skdsoladd. Ls do efkk fefkoef dlfd
            fdfd. Jjdof kjfoe flmeff ldlf sko fkdsokfo efkldkd dolfoe kld feo sl fdl kdso.
        </p>
    </article>
</div>
