<header>
    <div id = "banner-div" class="banner-div-style">
        <img id = "banner-logo-img-buff" class="banner-logo-style" src="./app/img/WTBuffalo.png">
        <section>
            West Texas A&amp;M University<br>
            Association For Computing Machinery
        </section>
        <img id = "banner-logo-img-acm" class="banner-logo-style" src="./app/img/ACM.png">
    </div>
</header>
<nav id = "nav-header" class="nav-header-style">
    <a id = "home-button" class="nav-button-style" routerLink="/">HOME</a>
    <a id = "blog-button" class="nav-button-style" routerLink="/blog">BLOG</a>
    <a id = "forum-button" class="nav-button-style" routerLink="/forum">FORUM</a>
    <a id = "membership-button" class="nav-button-style" routerLink="/membership">MEMBERSHIP</a>
    <a id = "agenda-button" class="nav-button-style" routerLink="/agenda">AGENDA</a>
    <a id = "about-button" class="nav-button-style" routerLink="/about">ABOUT</a>
    <a id = "contact-button" class="nav-button-style" routerLink="/contacts">CONTACTS</a>
</nav>
<router-outlet></router-outlet>
