<div id="home-div" class="main-div-style">
    <article id="contactfeed-article" class="contactfeed-article-style">
        <section>
            CONTACT INFORMATION
        </section>

        <h1 id="advisor-heading" class="advisor-heading-style">ADVISOR CONTACT INFORMATION</h1>
        <div class = "column">
            <table border = "0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td height = "320" valign="top" width ="100">
                        <img alt="Dr. Alex" height ="275" src="./app/img/arajan.jpg" width="83">
                    </td>
                    <td id="alex" valign="top" width="1000">
                        <h2 style="border-bottom: 1px solid rgb(0, 0, 0); padding-bottom: 2px;"><span class="utlcontent_h2" style="color: rgb(253, 253, 254);">Dr. Rajan Alex</span></h2>
                        <h2><span class="utlcontent_h2" style="font-size: 20px;">Professor of Computer Science</span></h2>
                        <p><span class="genericbodytext">"My students can expect to be enlightened on the concepts of programming paradigms. They will learn to become programmers by using programming languages as a tool to solve problems."</span></p>
                        <p><span class="genericbodytext"><span style="padding-right: 10px;"><a href="mailto:ralex@wtamu.edu">ralex@wtamu.edu</a></span><br>
                            <span style="padding-right: 10px;"><a href="http://www.wtamu.edu/academics/rajan-alex-bio.aspx">Rajan Alex's Bio</a></span></span></p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>

        <div class = "column">
            <table border = "0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td height = "320" valign="top" width ="100">
                        <img alt="Professor Haiduk" height ="275" src="./app/img/phaiduk.jpg" width="83">
                    </td>
                    <td id="haiduk" valign="top" width="1000">
                        <h2 style="border-bottom: 1px solid rgb(0, 0, 0); padding-bottom: 2px;"><span class="utlcontent_h2" style="color: rgb(253, 253, 254);">H. Paul Haiduk</span></h2>
                        <h2><span class="utlcontent_h2" style="font-size: 20px;">Instructor of Computer Science</span></h2>
                        <p><span class="genericbodytext">"Computer science trains students to really understand the inner workings of computing devices and software. Thus, our job in the computer science program is to train students to be Jedi warriors in the world of hacking and to always be vigilant against the Sith (the dark side hackers bent upon destruction, power, etc.). Students studying Computer Science can expect to work incredibly hard.  Those who are successful can expect significant rewards, not the least of which are $$$$. May the Force be with you."</span></p>
                        <p><span class="genericbodytext"><span style="padding-right: 10px;"><a href="mailto:hhaiduk@wtamu.edu">hhaiduk@wtamu.edu</a></span><br>
                            <span style="padding-right: 10px;"><a href="http://www.wtamu.edu/academics/h-paul-haiduk-bio.aspx">Paul Haiduk's Bio</a></span></span></p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class = "column">
            <table border = "0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td height = "320" valign="top" width ="100">
                        <img alt="Dr. Alex" height ="275" src="./app/img/stang.jpg" width="83">
                    </td>
                    <td id="tang" valign="top" width="1000">
                        <h2 style="border-bottom: 1px solid rgb(0, 0, 0); padding-bottom: 2px;"><span class="utlcontent_h2" style="color: rgb(253, 253, 254);">Shijun Tang</span></h2>
                        <h2><span class="utlcontent_h2" style="font-size: 20px;">Instructor of Computer Science</span></h2>
                        <p><span class="genericbodytext"></span></p>
                        <p><span class="genericbodytext"><span style="padding-right: 10px;"><a href="mailto:stang@wtamu.edu">stang@wtamu.edu</a></span><br>
                            <span style="padding-right: 10px;"><a href="http://www.wtamu.edu/academics/shijun-tang-bio.aspx">Shijun Tang's Bio</a></span></span></p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <h2 id="officers-heading" class="officers-heading-style">OFFICERS CONTACT INFORMATION</h2>
        <p id="officers-paragraph" class="officers-paragraph-style">
            Here is the contact information for people who don't matter in this group one bit. Also, Nick sux the D.
        </p>
    </article>
    <aside id="contacts-aside" class="common-aside-style">
        <div id="home-acm-feed" class="feed-style">
            ACM FEED HERE<br>
            COMING SOON...
        </div>
        <div id="home-twitter-feed" class="feed-style">
            TWITTER FEED HERE<br>
            COMING SOON...
        </div>
        <div id="home-facebook-feed" class="feed-style">
            FACEBOOK FEED HERE<br>
            COMING SOON...
        </div>
    </aside>
</div>
